;;; personal.el - Personal information file -*- lexical-binding: t; -*-

;; Personal details
(setq user-mail-address      "MyEmail@MyDomain.com"
      user-full-name         "MyName MySurname"
      user-login-name        "MyAlias"
      gpg-key                "12345ABC"
      calendar-latitude      47.41566
      calendar-longitude     8.5417
      calendar-location-name "Zurich, CH")

;; Additional git repositories
(setq galactic-emacs-magit-custom-repository-directories
      (list '("~/MyRepo1" . 1)
            '("~/MyRepo2" . 1)))

;; Your github username
(setq galactic-emacs-github-username
      "MyNameMySurname")

;; Your freenode password
(setq freenode-login-password
      "MyFreeNodePassword")

;; Join some interesting channels when connecting to Freenode
(setq erc-autojoin-channels-alist '(("freenode.net"
                                     "#emacs" "#emacs-berlin" "#clojure" "#lisp")))

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;; Galactic Emacs additional packages ;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

;; Please specify here the additional packages you might want to
;; install. One package per `use-package' declaration. See below
;; examples:

;;(use-package aggressive-indent
;; :ensure t
;; :config
;; (global-aggressive-indent-mode 1)
;; (add-to-list 'aggressive-indent-excluded-modes 'html-mode))


;;; personal.el ends here
